# CODEOWNERS for jacobyoby/ponder
# https://docs.github.com/en/repositories/managing-your-repos-settings/managing-repository-settings/managing-a-team-or-persons-access#about-code-owners
*       @jacobyoby
/food-recall-app/src/  @jacobyoby
/.github/              @jacobyoby
